#actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#actions button {
  font-size: 1.6rem;
  border-radius: 1rem;
  background-color: yellowgreen;
  border: 2px solid black;
  padding: 1rem;
  cursor: pointer;
}

#actions button:hover {
  background-color: lightyellow;
}

#destinations {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

#destinations li {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid yellowgreen;
  border-radius: 1rem;
  transition: 0.5s;
}

#destinations li.selected {
  background-color: yellow;
  border: 2px solid green;
}

.country {
  display: block;
  font-weight: bold;
}